# Compiled class files  
*.class  

# Build directories  
/build/  
target/  
out/  

# Log files  
*.log  

# Ignore environment variable files  
.env  

# Ignore sensitive configuration files  
src/main/java/util/DatabaseConnection.java  

# Ignore IDE and editor files  
*.iml  
.idea/  
.vscode/